{% extends 'shu/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block menu %}
<li class="menu-item">
  <a href="{% url 'sapak-seh' pkk %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-arrow-back"></i>
    <div>Yza</div>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
<!-- alert -->
  {% if form.errors %}
  <div class="toast-container">
    <div class="bs-toast toast fade show bg-danger position-absolute "style="right:10px; top:10px;"  role="alert" aria-live="assertive" aria-atomic="true" id="msg">
      <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Habarnama!</div>
        <small>{% now 'd.m.Y' %}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Ýalňyşlyk: Ýerinde bar bolan haryt girizilmedi
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if messages %}
  <div class="toast-container">
    <div class="bs-toast toast fade show bg-success position-absolute "style="right:10px; top:10px;"  role="alert" aria-live="assertive" aria-atomic="true" id="msg">
      <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Üstünlikli girizildi!</div>
        <small>{% now 'd.m.Y' %}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
<!--/ alert -->
    <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">SHU / {{ user.office|default_if_none:"" }} /</span> {{ title }}</h4>

  <!-- Aydaky sapak hasabat rewiz Rows -->
    <a><button style="float:right;" onclick="printData()" class="btn rounded-pill btn-icon btn-primary"> <i class="tf-icons bx bx-printer"></i></button>
    <input class="form-control mb-2" style="width:300px;" id='myInput' onkeyup='myFunction()' type='text' placeholder="Gözle ..."></a>
    <div class="card" id="printTable">
      <h5 class="card-header">Aýdaky öndürilen önümiň hasabaty</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-hover" id="myTable">
          <thead>
            <tr>
              {% if user.wez.name == "Admin" %}
              <th></th>
              {% endif %}
              <th>Sapagyň<br>görnüşi</th>
              <th>Geçen<br> aýdan<br>galyndy</th>
              <th>Jemi<br> sapagyň kg</th>
              <th>Wazwrat</th>
              <th>Ahyrky<br> galyndy</th>
              <th>Ýerinde<br> bar haryt</th>
              <th>Tapawut</th>
              <th>Sene</th>
              <th>Bellik</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for deg in myuser %}
            <tr>
              {% if user.wez.name == "Admin" %}
              <td>
                <a href="{% url 'ayjemisap-update' deg.id %}" class="btn btn-icon btn-outline-success">
                  <span class="tf-icons bx bx-share" data-toggle="tooltip" title="{% trans "Ýollamak" %}"></span>
                </a>
              </td>
              {% endif %}
              <td><strong>{{deg.gornus|default_if_none:""}}</strong></td>
              <td><strong>{{deg.gecenay_galyndy|default_if_none:""}}</strong></td>
              <td><span class="badge bg-label-primary border-light-primary me-1"><strong style="color:Blue;">{{deg.onum|default_if_none:""}}</strong></span></td>
              <td>{{deg.wozwrat|default_if_none:""}}</td>
              <td><strong>{{deg.ahyrky_galyndy|default_if_none:""}}</strong></td>
              <td>{{deg.yerinde_bar_haryt|default_if_none:""}}</td>
              <td><span class="badge bg-label-success border-light-success me-1"><strong style="color:Green;">{{deg.tapawudy|default_if_none:""}}</strong></span></td>
              <td>{{deg.month|date:"m.Y"}}</td>
              <td>{{deg.bellik|default_if_none:""}}</td>
              {% if user.wez.name == "Admin" %}
              <td>
                <a href="{% url 'ay-hasabat-sapak-edit' deg.id %}" class="btn btn-icon btn-outline-warning">
                  <span class="tf-icons bx bx-edit" data-toggle="tooltip" title="{% trans "üýtgetmek" %}"></span>
                </a>
                <a href="{% url 'ay-sapak-hasabat-delete' deg.id %}" class="btn btn-icon btn-outline-danger">
                  <i class="tf-icons bx bx-trash" data-toggle="tooltip" title="{% trans "pozmak" %}"></i>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  <!--/ Aydaky sapak hasabat rewiz Rows -->

  <!-- Gundelik tikinci boyunca sanaw Rows -->
    <a><button style="float:right;" onclick="printData1()" class="btn rounded-pill btn-icon btn-primary"> <i class="tf-icons bx bx-printer"></i></button>
    <input class="form-control mb-2 mt-5" style="width:300px;" id='myInput1' onkeyup='myFunction1()' type='text' placeholder="Gözle ..."></a>
    <div class="card" id="printTable1">
      <h5 class="card-header">Gündelik öndürilýän önümiň hasabaty</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-hover" id="myTable1">
          <thead>
            <tr>
              <th>Işgär</th>
              <th>Jemi kg</th>
              <th>Sene</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for deg in tikinci_sany %}
            <tr>
              <td><strong>{{deg.user__faa|default_if_none:""}}</strong></td>
              <td><span class="badge bg-label-primary border-light-primary me-1"><strong style="color:Blue;">{{deg.sany|default_if_none:""}}</strong></span></td>
              <td>{{deg.month|date:"m.Y"}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  <!--/ Gundelik tikinci boyunca sanaw Rows -->

  <!-- Zakaz Swotka Rows -->
    <a><button style="float:right;" onclick="printData2()" class="btn rounded-pill btn-icon btn-primary"> <i class="tf-icons bx bx-printer"></i></button>
    <input class="form-control mb-2 mt-5" style="width:300px;" id='myInput2' onkeyup='myFunction2()' type='text' placeholder="Gözle ..."></a>
    <div class="card mb-5" id="printTable2">
      <h5 class="card-header">Jemi galýan peýdanyň hasabaty</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-hover" id="myTable2">
          <thead>
            <tr>
              {% if user.wez.name == "Admin" %}
              <th></th>
              {% endif %}
              <th>Görnüşi</th>
              <th>Jemi kg</th>
              <th>Jemi<br>bahasy TMT</th>
              <th>Jemi<br>bahasy $</th>
              <th>Jemi<br>çykdaýjy TMT</th>
              <th>Jemi<br>çykdaýjy $</th>
              <th>Gelýän<br>peýda TMT</th>
              <th>Gelýän<br>peýda $</th>
              <th>Bellik</th>
              <th>Senesi</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for deg in zak_sw %}
            <tr>
              {% if user.wez.name == "Admin" %}
              <td>
                <a href="{% url 'zakazswotkasap-update' deg.id %}" class="btn btn-icon btn-outline-success">
                  <span class="tf-icons bx bx-share" data-toggle="tooltip" title="Ýollamak"></span>
                </a>
              </td>
              {% endif %}
              <td>{{deg.gornus|default_if_none:""}}</td>
              <td><span class="badge bg-label-primary border-light-primary me-1"><strong style="color:Blue;">{{deg.onum|floatformat:2|default_if_none:""}}</strong></span></td>
              <td><strong>{{deg.jemi_baha_m|floatformat:2|default_if_none:""}}</strong></td>
              <td>{{deg.jemi_baha_d|floatformat:2|default_if_none:""}}</td>
              <td><span class="badge bg-label-danger border-light-danger me-1"><strong style="color:Red;">{{deg.cyk_summa|floatformat:2|default_if_none:""}}</strong></span></td>
              <td><span class="badge bg-label-danger border-light-danger me-1"><strong style="color:Red;">{{deg.cyk_summa_dol|floatformat:2|default_if_none:""}}</span></td>
              <td><span class="badge bg-label-success border-light-success me-1"><strong style="color:Green;">{{deg.gal_pey_summa|floatformat:2|default_if_none:""}}</strong></span></td>
              <td><span class="badge bg-label-success border-light-success me-1"><strong style="color:Green;">{{deg.gal_pey_summa_dol|floatformat:2|default_if_none:""}}</span></td>
              <td>{{deg.bellik|default_if_none:""}}</td>
              <td>{{deg.month|date:"m.Y"}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  <!--/ Zakaz Swotka Rows -->

    <!-- Modal -->
	    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form method="post">
              <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Täze inwentar girizmek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                {% csrf_token %}
                {{ form|crispy }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Çykyş</button>
                <button type="submit" class="btn btn-primary">Tassyklamak</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- / Modal -->

  <!-- Paginator -->
    {% if myuser.paginator.num_pages > 1 %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if myuser.paginator.num_pages != 1 %}
                  <li class="page-item"><a class="page-link" href="?page=1">{% trans "Birinji" %}</a></li>
              {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">{% trans "Birinji" %}</a></li>
              {% endif %}
              {% if myuser.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ myuser.previous_page_number }}">&laquo;</a></li>
              {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
              {% endif %}
              {% for i in myuser.paginator.page_range %}
                  {% if myuser.number == i %}
                      <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">{% trans "(häzirki)" %}</span></a></li>
                  {% elif myuser.number > i|add:"-5" and myuser.number < i|add:"+5"%}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if myuser.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ myuser.next_page_number }}">&raquo;</a></li>
              {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
              {% endif %}
              {% if myuser.paginator.num_pages != myuser.number %}
                  <li class="page-item"><a class="page-link" href="?page={{ myuser.paginator.num_pages }}">{% trans "soňky" %}</a></li>
              {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">{% trans "soňky" %}</a></li>
              {% endif %}
          </ul>
      </nav>
    {% endif %}
  <!--/ Paginator -->

  <script type="text/javascript">
    function printData()
    {
        var divToPrint = document.getElementById("printTable");
        var style = "<style>";
        style = style + "@page { size: A4 landscape; margin-top:5mm;margin-bottom:3mm;margin-left:3mm;margin-right:3mm; }";
        style = style + "table {width: 100%; font: 10px Times-Roman;}";
        style = style + "table, th, td {border: solid 1px #000000; border-collapse: collapse;";
        style = style + "padding: 2px 3px; text-align: center;}";
        style = style + "</style>";

        newWin= window.open('','','height=700, width=1500');
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    function printData1()
    {
        var divToPrint = document.getElementById("printTable1");
        var style = "<style>";
        style = style + "@page { size: A4 landscape; margin-top:5mm;margin-bottom:3mm;margin-left:3mm;margin-right:3mm; }";
        style = style + "table {width: 100%; font: 10px Times-Roman;}";
        style = style + "table, th, td {border: solid 1px #000000; border-collapse: collapse;";
        style = style + "padding: 2px 3px; text-align: center;}";
        style = style + "</style>";

        newWin= window.open('','','height=700, width=1500');
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    function printData2()
    {
        var divToPrint = document.getElementById("printTable2");
        var style = "<style>";
        style = style + "@page { size: A4 landscape; margin-top:5mm;margin-bottom:3mm;margin-left:3mm;margin-right:3mm; }";
        style = style + "table {width: 100%; font: 10px Times-Roman;}";
        style = style + "table, th, td {border: solid 1px #000000; border-collapse: collapse;";
        style = style + "padding: 2px 3px; text-align: center;}";
        style = style + "</style>";

        newWin= window.open('','','height=700, width=1500');
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        const tableData = tr[i].getElementsByTagName("td");
        let allTextContent = '';
        for (let ind = 0; ind < tableData.length; ind++) {
            allTextContent += tableData[ind].innerText;
        }
        
        if (allTextContent) {
          if (allTextContent.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    function myFunction1() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput1");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable1");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        const tableData = tr[i].getElementsByTagName("td");
        let allTextContent = '';
        for (let ind = 0; ind < tableData.length; ind++) {
            allTextContent += tableData[ind].innerText;
        }
        
        if (allTextContent) {
          if (allTextContent.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    function myFunction2() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput2");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable2");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        const tableData = tr[i].getElementsByTagName("td");
        let allTextContent = '';
        for (let ind = 0; ind < tableData.length; ind++) {
            allTextContent += tableData[ind].innerText;
        }
        
        if (allTextContent) {
          if (allTextContent.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script>
    <!-- / Content -->
  </div>

    <div class="content-backdrop fade"></div>
</div>
{% endblock content %}

{% include 'include/jig.html' %}