{% extends 'shu/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block menu %}
<li class="menu-item">
  <a href="{% url 'sapak-seh' pkk %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-arrow-back"></i>
    <div>Yza</div>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">

    <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">SHU / {{ user.office|default_if_none:"" }} /</span> {{ title }}</h4>

    <!-- Taýýar öndürilen önümiň hasabaty Rows -->
      <a><button style="float:right;" onclick="printData()" class="btn rounded-pill btn-icon btn-primary"> <i class="tf-icons bx bx-printer"></i></button>
      <input class="form-control mb-2" style="width:300px;" id='myInput' onkeyup='myFunction()' type='text' placeholder="Gözle ..."></a>
      <div class="card" id="printTable">
        <h5 class="card-header">Taýýar öndürilen önümiň hasabaty</h5>
        <div class="table-responsive text-nowrap">
          <table class="table table-hover" id="myTable">
            <thead>
              <tr>
                <th>Sapagyň<br>görnüşi</th>
                <th>Geçen<br> aýdan<br> galyndy</th>
                <th>Jemi<br> sapagyň kg</th>
                <th>Wozwrat</th>
                <th>Ahyrky<br> galyndy</th>
                <th>Sene</th>
                <th>Bellik</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for deg in myuser %}
              <tr>
                <td><strong>{{deg.gornus|default_if_none:""}}</strong></td>
                <td><strong>{{deg.gecenay_galyndy|default_if_none:""}}</strong></td>
                <td><span class="badge bg-label-primary border-light-primary me-1"><strong style="color:Blue;">{{deg.onum|default_if_none:""}}</strong></span></td>
                <td>{{deg.wozwrat|default_if_none:""}}</td>
                <td><span class="badge bg-label-success border-light-success me-1"><strong style="color:Green;">{{deg.ahyrky_galyndy|default_if_none:""}}</strong></span></td>
                <td>{{deg.month|date:"m.Y"}}</td>
                <td>{{deg.bellik|default_if_none:""}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <!--/ Taýýar öndürilen önümiň hasabaty Rows -->
  
    <!-- Paginator -->
      {% if myuser.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if myuser.paginator.num_pages != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">{% trans "Birinji" %}</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">{% trans "Birinji" %}</a></li>
                {% endif %}
                {% if myuser.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ myuser.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% for i in myuser.paginator.page_range %}
                    {% if myuser.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">{% trans "(häzirki)" %}</span></a></li>
                    {% elif myuser.number > i|add:"-5" and myuser.number < i|add:"+5"%}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if myuser.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ myuser.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
                {% if myuser.paginator.num_pages != myuser.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ myuser.paginator.num_pages }}">{% trans "soňky" %}</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">{% trans "soňky" %}</a></li>
                {% endif %}
            </ul>
        </nav>
      {% endif %}
    <!--/ Paginator -->

  <script type="text/javascript">
    function printData()
      {
          var divToPrint = document.getElementById("printTable");
          var style = "<style>";
          style = style + "@page { size: A4 landscape; margin-top:5mm;margin-bottom:3mm;margin-left:3mm;margin-right:3mm; }";
          style = style + "table {width: 100%; font: 10px Times-Roman;}";
          style = style + "table, th, td {border: solid 1px #000000; border-collapse: collapse;";
          style = style + "padding: 2px 3px; text-align: center;}";
          style = style + "</style>";

          newWin= window.open('','','height=700, width=1500');
          newWin.document.write(style);
          newWin.document.write(divToPrint.outerHTML);
          newWin.print();
          newWin.close();
      }
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        const tableData = tr[i].getElementsByTagName("td");
        let allTextContent = '';
        for (let ind = 0; ind < tableData.length; ind++) {
            allTextContent += tableData[ind].innerText;
        }
        
        if (allTextContent) {
          if (allTextContent.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script>
    <!-- / Content -->
  </div>

    <div class="content-backdrop fade"></div>
</div>
{% endblock content %}

{% include 'include/jig.html' %}